<%# Renderiza o formulario %>
<div class="container-fluid">
  <h1>Solicitações de Livros</h1><br>

  <div id="new_book">
    <%= render "books/form",book: Book.new %>
  </div>

    <div class="container-fluid text-center">
      <%= image_tag 'book'%>
      <h1>Tabela de Solicitação</h1>
    </div>

    <%# Remderiza o layout da tabela dos livros usando Hotwire %>
    <%= turbo_stream_from "books" %> 
    <%= turbo_frame_tag "books" do %>
      <div id="books" class="min-w-full">
        <%=  render @books %>
      </div>
    <%end%>
  </div>
</div>